<div class="layui-side layui-bg-green">
  <div class="layui-side-scroll">
    <ul class="layui-nav layui-nav-tree"  lay-filter="test">
      <li class="layui-nav-item">
        <a href={% url 'dashboard' %}><i class="layui-icon">&#xe68e;&nbsp;</i>仪表盘</a>
      </li>
      <li class="layui-nav-item">
        <a href="javascript:;"><i class="fa fa-server fa-size">&nbsp;&nbsp;</i>资产管理</a>
        <dl class="layui-nav-child">
          <dd><a href={% url 'idcList' %}>机房管理</a></dd>
          <dd><a href={% url 'idcList' %}>机柜管理</a></dd>
          <dd><a href={% url 'idcList' %}>IP地址池</a></dd>
          <dd><a href="javascript:;">主机组</a></dd>
          <dd><a href="javascript:;">主机列表</a></dd>
        </dl>
      </li>
      <li class="layui-nav-item">
        <a href="javascript:;"><i class="layui-icon">&#xe631;&nbsp;</i>配置管理</a>
        <dl class="layui-nav-child">
          <dd><a href="">所有资产</a></dd>
          <dd><a href="">资产管理</a></dd>
        </dl>
      </li>
      <li class="layui-nav-item">
        <a href="javascript:;"><i class="layui-icon">&#xe62c;&nbsp;</i>监控系统</a>
        <dl class="layui-nav-child">
          <dd><a href="javascript:;">所有资产</a></dd>
          <dd><a href="javascript:;">资产管理</a></dd>
        </dl>
      </li>
      <li class="layui-nav-item">
        <a href="javascript:;"><i class="layui-icon">&#xe63c;&nbsp;</i>流程审批</a>
        <dl class="layui-nav-child">
          <dd><a href="javascript:;">邮件推送</a></dd>
          <dd><a href="javascript:;">列表二</a></dd>
          <dd><a href="">超链接</a></dd>
        </dl>
      </li>
      <li class="layui-nav-item">
        <a href="javascript:;"><i class="fa fa-terminal fa-size">&nbsp;&nbsp;</i>任务分发</a>
        <dl class="layui-nav-child">
          <dd><a href="javascript:;">任务模板</a></dd>
        </dl>
      </li>
      <li class="layui-nav-item">
        <a href="javascript:;"><i class="layui-icon">&#xe609;&nbsp;</i>发布系统</a>
        <dl class="layui-nav-child">
          <dd><a href="javascript:;">任务模板</a></dd>
        </dl>
      </li>
      <li class="layui-nav-item">
        <a href="javascript:;"><i class="layui-icon">&#xe60e;&nbsp;</i>日志管理</a>
        <dl class="layui-nav-child">
          <dd><a href="javascript:;">所有资产</a></dd>
          <dd><a href="javascript:;">资产管理</a></dd>
        </dl>
      </li>
      <li class="layui-nav-item">
        <a href="javascript:;"><i class="layui-icon">&#xe705;&nbsp;</i>知识共享</a>
        <dl class="layui-nav-child">
          <dd><a href="javascript:;">所有资产</a></dd>
          <dd><a href="javascript:;">资产管理</a></dd>
        </dl>
      </li>
      <li class="layui-nav-item">
        <a href="javascript:;"><i class="layui-icon">&#xe629;&nbsp;</i>运维审计</a>
        <dl class="layui-nav-child">
          <dd><a href="javascript:;">所有资产</a></dd>
          <dd><a href="javascript:;">资产管理</a></dd>
        </dl>
      </li>
      <li class="layui-nav-item">
        <a href="javascript:;"><i class="layui-icon">&#xe612;&nbsp;</i>用户管理</a>
        <dl class="layui-nav-child">
          <dd><a href="javascript:;">用户设置</a></dd>
          <dd><a href="javascript:;">用户组设置</a></dd>
          <dd><a href="javascript:;">权限管理</a></dd>
        </dl>
      </li>
      <li class="layui-nav-item">
        <a href="javascript:;"><i class="layui-icon">&#xe614;&nbsp;</i>系统设置</a>
        <dl class="layui-nav-child">
          <dd><a href="javascript:;">邮件推送</a></dd>
          <dd><a href="javascript:;">列表二</a></dd>
          <dd><a href="">超链接</a></dd>
        </dl>
      </li>
    </ul>
  </div>
</div>