{% extends 'base/base.html' %}
{% block content %}
<div style="overflow:hidden;">
  <div class="wapper-crumbs">
    <ul class="crumbs">
      <li><a href="{% url 'dashboard' %}"><span class="icon fa fa-home fa-size"> </span></a></li>
      <li><a href="#"><span class="fa fa-server fa-size"> </span> 资产管理</a></li>
      <li><a href="{% url 'idcList' %}"><span class="fa fa-server fa-size"> </span> 机房管理</a></li>
    </ul>
  </div>
  <div class="wapper-body">
    <div class="content">
      <div class="layui-row">
        <div class="layui-col-md4">
          <a class="layui-btn layui-col-md2" href={% url 'idcAdd' %}>添加机房</a>
          <button class="layui-btn layui-btn-danger layui-col-md2" data-type="choose_del">删除机房</button>
        </div>
        <div class="layui-col-md8">
          <div class="layui-col-md3 layui-col-md-offset8">
            <input id="search_content" class="layui-input " type="text" name="search" placeholder="机房名/供应商/联系人" autocomplete="off">
          </div>
		  <button id="search" class="layui-btn layui-col-md1" style="font-size:16px;">
            <i class="layui-icon">&#xe615;</i> 搜索
          </button>
        </div>
      </div>
      <div class=" t-content">
          <table class="layui-hide" id="table" lay-filter="tableFilter"></table>
      </div>
    </div>
  </div> 
</div>  


<script type="text/html" id="toolbar">
  <div class="layui-btn-container">
    <button class="layui-btn layui-btn-sm" lay-event="add">添加机房</button>
    <button class="layui-btn layui-btn-sm layui-btn-danger" lay-event="del">删除机房</button>
    <button class="layui-btn layui-btn-sm" lay-event="getCheckData">获取选中行数据</button>
    <button class="layui-btn layui-btn-sm" lay-event="getCheckLength">获取选中数目</button>
    <button class="layui-btn layui-btn-sm" lay-event="isAll">验证是否全选</button>
  </div>
</script>


<script type="text/html" id="bar">
    <a class="layui-btn layui-btn-xs" lay-event="detail">详情</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>ß
</script>


<script>
layui.use('table', function(){
  var table = layui.table;

  table.render({
    elem: '#table'
    ,height:'full-250'
    ,url:'{% url 'idc_list' %}'
    ,toolbar: '#toolbar'
    ,title: '机房列表'
    ,cols: [[
      {type: 'checkbox', fixed: 'left'}
      ,{field:'id', title:'ID', sort: true, align: 'center', width: 80}
      ,{field:'name', title:'机房名', align: 'center'}
      ,{field:'region', title:'区域', align: 'center'}
      ,{field:'provider', title:'供应商', align: 'center'}
      ,{field:'contacts__name', title:'联系人', align: 'center'}
      ,{field:'contacts__phone', title:'电话', align: 'center'}
      ,{field:'address', title:'地址', align: 'center'}
      ,{field:'contracts__end_date', title:'到期时间', align: 'center', sort:true}
      ,{fixed: 'right', title:'操作', toolbar: '#bar', align: 'center'}
    ]]
    ,page: true
    ,limit: 20
  });

  //头工具栏事件
  table.on('toolbar(tableFilter)', function(obj){
    var checkStatus = table.checkStatus(obj.config.id);
    switch(obj.event){
        case 'add':
            layer.msg("添加");
        break;
        case 'getCheckData':
            var data = checkStatus.data;
            layer.alert(JSON.stringify(data));
        break;
        case 'getCheckLength':
            var data = checkStatus.data;
            layer.msg('选中了：'+ data.length + ' 个');
        break;
        case 'isAll':
            layer.msg(checkStatus.isAll ? '全选': '未全选');
        break;
    };
  });

  //监听行工具事件
  table.on('tool(tableFilter)', function(obj){
    var data = obj.data;
    //console.log(obj)
    if(obj.event === 'del'){
      layer.confirm('真的删除行么', function(index){
        obj.del();
        layer.close(index);
      });
    } else if(obj.event === 'edit'){
      layer.prompt({
        formType: 2
        ,value: data.email
      }, function(value, index){
        obj.update({
          email: value
        });
        layer.close(index);
      });
    }
  });
});
</script>

{% endblock %}